<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="white.rs.mapper.AiPlansMapper">

    <resultMap id="BaseResultMap" type="white.rs.domain.AiPlans">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="durationDays" column="duration_days" jdbcType="INTEGER"/>
            <result property="dailyLimit" column="daily_limit" jdbcType="INTEGER"/>
            <result property="maxSize" column="max_size" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="cheapLimit" column="cheap_limit" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,price,
        duration_days,daily_limit,max_size,
        created_at,status,description,
        cheap_limit
    </sql>
</mapper>
